<div class="h-screen w-screen flex justify-center items-center bg-gradient-to-r from-blue-500 to-indigo-600">
  <div class="flex flex-col items-center bg-white rounded-lg p-6 shadow-xl max-w-xs w-full">
    <!-- Timer -->
    <div class="text-4xl font-bold text-gray-800 mb-4">
      {{ timer }}
    </div>

    <!-- Score -->
    <div class="text-2xl text-gray-600 mb-6">
      Score: {{ score }}
    </div>

    <!-- Character Name -->
    <div class="text-xl font-semibold text-gray-800 mb-4">
      {{ char?.name }}
    </div>

    <!-- Character Image Choices -->
    <div class="flex gap-4 flex-wrap justify-center">
      @for (char of chars ; track char.name) {
        <div class="flex flex-col items-center">
          <img
            [src]="char.img"
            alt="Character Image"
            class="w-24 h-24 object-cover rounded-full border-4 border-transparent hover:border-yellow-400 cursor-pointer transition-transform transform hover:scale-110"
            (click)="pick(char)">
        </div>
      }
    </div>
  </div>
  @if (!running && score > 0) {
    <div>
      <!-- Modal background (Hidden by default) -->
      <div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center">
        <div class="bg-white rounded-lg p-6 w-80 max-w-xs">
          <!-- Modal Content -->
          <div class="text-center">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4">Congratulations!</h2>
            <p class="text-lg text-gray-600 mb-6">You sure know your blondies :)</p>
            <div class="text-xl font-bold text-gray-800 mb-4">Your Score: {{ score }}</div>
            <button (click)="document.location.reload()" class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 transition duration-300">
              Try again
            </button>
          </div>
        </div>
      </div>

    </div>
  }
</div>
